.datasetbox{
    height: 5em; 
    width: 5em;
    border: 1px solid #CDCDCD;
    margin: 0px 10px 0px 0px;
    opacity: 0.5;
}

.datasetbox.active{
    border-bottom: 4px #0062FF solid;
    opacity: 1;
}

.mynotif{
    border-left: 4px  #054ADA solid;
}

.datasettitles{
    margin: 0px 0px 5px 0px;
    font-weight: bold;
    font-size: 0.72em;
}

.datasetfullbox:hover{
    /* background-color: blue; */
}

.dsselected {
    border-bottom: 4px #0062FF solid;
}

.mainsimilarityimage{
    height: 10em;
}

.simiimage{
    height: 6em; 
    margin: 0px 5px 3px 0px;
}

.dispblock{
    display: block;
}