$feature-flags: (
  ui-shell: true,
);
@import 'carbon-components/scss/globals/scss/styles.scss';
// @import './header/header.css';
@import './footer/footer.scss';



// General css styles for entire app
.redcolor {
    color: red;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.p10 {
    padding: 10px;
}
.m10 {
    margin: 10px;
}

.p20 {
    padding: 20px;
}
.m20 {
    margin: 20px;
}


.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.ml10 {
    margin-left: 10px;
}

.rad5 {
    border-radius: 5px;
}

.rad4 {
    border-radius: 4px;
}

.rad3 {
    border-radius: 3px;
}


.rad2 {
    border-radius: 2px;
}