
/* Text Highlights */


.bluehightlight {
    padding: 10px;
    background: rgb(190, 213, 250);
    margin: 0px 0px 0px 0px;
}

.lightbluehightlight {
    padding: 10px;
    background: #EDF4FF;
    margin: 0px 0px 0px 0px;
}

.orangehighlight {
    padding: 10px;
    background: rgb(240, 134, 3);
    margin: 0px 0px 0px 0px;
    color: white;
}

.topblueborder {
    border-top: 3px solid #0062FF;
}

.bottomblueborder {
    border-bottom: 3px solid #0062FF;
}

.lh10 {
    line-height: 1.25rem;
}


.sectiontitle{
    font-size: 1.2em;
    font-weight: bold;
}

.horrule {
    height: 1px;
    border-bottom: 1px solid rgba(145, 142, 142, 0.4);
}

.boldtext{
    font-weight: bold;
}
/*  Layout Spacing margin, etc */
.iblock {
    display: inline-block;
}
.redcolor {
    color: red;
}
.border {
    border: 1px solid green ;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.p10 {
    padding: 10px;
}
.m10 {
    margin: 10px;
}

.p20 {
    padding: 20px;
}
.m20 {
    margin: 20px;
}

.pb10 {
    padding-bottom: 10px;
}

.p5{
    padding: 5px;
}
.pt10 {
    padding-top: 10px;
}
.pt2 {
    padding-top: 2px;
}

.pt3{
    padding-top: 3px;
}
.pt4 {
    padding-top: 4px;
}

.pb20 {
    padding-bottom: 20px;
}

.pt20 {
    padding-top: 20px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb5 {
    margin-bottom: 5px;
}

.mr10 {
    margin-right: 10px;
}
.mr5 {
    margin-right: 5px;
}

.mr20 {
    margin-right: 20px;
}

.ml10 {
    margin-left: 10px;
}

.rad5 {
    border-radius: 5px;
}

.rad4 {
    border-radius: 4px;
}

.rad3 {
    border-radius: 3px;
}


.rad2 {
    border-radius: 2px;
}

.opacity100{
    opacity: 1;
}
.opacity50{
    opacity: 0.5;
}

.clickable{
    cursor: pointer;
}

.flex {
    display: flex;
}

.flexwrap{
    flex-wrap: wrap;
    justify-content: space-around;
}

.flexfull {
    flex: 1;
}

.flex1 {
    flex: 0.1;
}

.flex2 {
    flex: 0.2;
}

.flex3 {
    flex: 0.3;
}

.flex4 {
    flex: 0.4;
}

.flex5 {
    flex: 0.5;
}

.flex6 {
    flex: 0.6;
}

.flex7 {
    flex: 0.7;
}

.flex8 {
    flex: 0.8;
}

.flex9 {
    flex: 0.9
}

.positionrelative{
    position: relative;
}

.positionabsolute{
    position: absolute;
}