.neuronbox{
    height: 5em; 
    width: 5em;
    border-bottom: 4px solid #CDCDCD;
    margin: 0px 10px 0px 0px;
    transition: all .2s ease-in-out; 
}

.neuronbox:hover{
    /* border-bottom: 4px #0062FF solid; */
    /* opacity: 0.5; */
    transform: scale(1.5);
   
}

.neuronbox.active{
    border-bottom: 4px rgb(16, 24, 37) solid;
    opacity: 1;
    /* height: 6.2em; 
    width: 6.2em; */
}
