.neuronbox{
    height: 5em; 
    width: 5em;
    border-bottom: 4px solid #CDCDCD;
    margin: 0px 10px 0px 0px;
    /* transition: all .2s ease-in-out;  */
}

.neuronbox:hover{
    /* border-bottom: 4px #0062FF solid; */
    /* opacity: 0.5; */
    /* transform: scale(1.5); */
   
}

.neuronbox.active{
    border-bottom: 4px #0062FF solid;
    opacity: 1;
    height: 6.2em; 
    width: 6.2em;
}

.enlargedneuron{
    height: 16em;
    width: 16em;
}

.enlargeddiv{
    /* position: absolute;
    top: 2em;
    right:2em; */
    /* border: 2px solid green; */
    z-index: 6000;
    background:rgba(255, 255, 255, 0.7);
    padding: 0.6em; 
}

.enlargeddesc{

}

.whitespacenowrap{
    white-space: nowrap
}

 
.layerwindow{
    max-height: 16em;
    /* border: 2px solid green; */
    overflow: scroll;
}
.scrollwindow{
    /* /* max-height: 16em;  */
    overflow: scroll; 
}

.scrollwindowmodel{
    max-height: 17.8em; 
}

.scrollwindow::-webkit-scrollbar, .neurondivbox::-webkit-scrollbar {
    -webkit-appearance: none;
    
}

.scrollwindow::-webkit-scrollbar:vertical, .neurondivbox::-webkit-scrollbar:vertical {
    width: 8px;
   
}

.scrollwindow::-webkit-scrollbar:horizontal, .neurondivbox::-webkit-scrollbar:horizontal {
    height: 8px;
}

.scrollwindow::-webkit-scrollbar-thumb, .neurondivbox::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}
::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0);
}

.twitterbutton{
    background: rgb(105, 105, 105) ;
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.twitterbutton:hover{

    background: rgb(54, 54, 54);
}

.neurondivbox{
    max-height: 22em;
    overflow: scroll;
}