
.selected{
    border-bottom: 4px #0062FF solid;
}
.navbarlink a{
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px 0px 10px 10px;
}